
  <main class="leading-normal tracking-normal text-indigo-400 m-6  " >
    <div class="h-screen">
      <!--Nav-->
      <div class="w-full container mx-auto">
        <div class="w-full flex items-center justify-between">
          <a class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
            Card<span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">Maker</span>
          </a>

          <div class="flex w-1/2 justify-end content-center">
            <a class="inline-block text-blue-300 no-underline hover:text-pink-500 hover:text-underline text-center h-10 p-2 md:h-auto md:p-4 transform hover:scale-125 duration-300 ease-in-out" href="/admin">
              <h1>Get Started</h1>
            </a> 
          </div>
        </div>
      </div>

      <div class="container h- pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center">
      <div>
      
      </div>
      
      </div>

        
      </div>
    </div>

       <div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
          <a class="text-gray-500 no-underline hover:no-underline" href="#">&copy; Schoolcard  <%=Time.now.year%></a>
          - Built by
          <a class="text-gray-500 no-underline hover:no-underline" href="#">Allan Kamau</a>
        </div>
    </main>