.addons{
  margin: 1rem;
 
}



@media screen, print {
  .cardprint{
   display:grid;
   gap: 0.5rem;
   grid-template-columns: repeat(2, minmax(0, 1fr)); 

  }

    .card {
      
      background-color: var(--main-color-bg);
      color: var(--main-color-txt);
      -webkit-print-color-adjust: exact;
      min-width: 3.5in;
      max-width: 3.5in;
      min-height: 2in;
      max-height: 2in;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 0 5px rgba(0,0,0, 0.5);
      
    }
    
   
    
    .title h1{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
      /* background-color: teal; */
    
    }
    
    .student-data h1 {
      font-size: 0.7rem;
      letter-spacing:2px;
      text-transform: uppercase;
      font-weight: bold;
    }
    
    .school-details{
    height:50px;
    border-bottom: 1px solid red;
    display: flex;
    }
    
    .card-middle{
    display:flex;
    margin: 2px;
    height:150px;
    border-bottom: 1px solid red;
    }
    .student-data{
    margin-left: 10px;
    }
    .card-img{
      border-radius: 10px;
      height: auto;
    
    } 
     .logodiv{
      flex: none;
    }
    }


    @media print{
      @page { 
        margin: 0;
        size: 8.3in 11.7in;
      
      } 
  /* .print, .print *{
    visibility: visible;
    
  } */
  .print{
      /* border-radius: none !important;
      box-shadow: none; */
      visibility: visible;
      position:  absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
    

      
    }


  .no-print{visibility: hidden;}
  .hide{display: none;}
  #hide{display: none;}
    }